@use 'fonts';

$primary-color: #AA7BFB;
$secondary-color: #EE366D;
$accent-color: #201C1D;
$body-text-color: #EDEEF3;
$heading-font-family: 'outfit';
$body-font-family: 'outfit';
$base-font-size: 20px;
$base-font-weight: 400;