@use '../abstracts/variables' as v;

/* Body */
.hidden {
    display: none;
}




/* Header */
#logo-mb {
    width: 80px;
    padding-top: 20px;
    display: block; 
}
  
#logo-dt,
#header-text {
    display: none;
}
  

#header-text {
    font-size: 18px;
}

nav {

    #menu-button {
        display: flex;
        align-items: center;
        margin-left: auto;
        justify-content: center;
        height: 100%;
    }

    #toggle-image {
        margin-top: 0; 
        width: 55px; 
        height: 55px;
        cursor: pointer;
        transition: opacity 0.3s;

        &:hover {
            opacity: 0.8;
        }
    }

    #nav-list {
        position: fixed; 
        top: 0;
        left: 0;
        width: 100vw; 
        height: 100vh; 
        background-color: #201C1D;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        z-index: 1000; 

        #close-button {
            cursor: pointer; 
            color: #fff;
            font-size: 2rem;
            margin-bottom: 2rem; 
        }

        li {
            margin: 1rem 0; 

            &:hover {
                background-color: rgba(255, 255, 255, 0.1); 
            }

            a {
                text-decoration: none;
                color: #fff;
                font-size: 2rem;
            }
        }
    }

    #nav-list.show {
        display: flex; 
    }
}


/* Banner */
#banner {
    overflow: hidden;
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    
    #banner-name {
      text-align: center;
  
      a {
        font-size: 23px;
      }
  
      p {
        font-size: 15px;
      }
    }
  
    #light-box {
      display: inline-flex;
      align-items: center;
      padding: 5px 10px;
      margin-bottom: 50px;
      border: 1.5px solid v.$body-text-color;
      border-radius: 50px;
      position: relative;
      
      p {
        font-size: 12px;
        color: v.$body-text-color;
        margin: 0 8px 0 0;
      }
    
      &::before {
        content: '';
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: v.$second-accent-color;
        margin: 8px;
      }
    }
  
    #banner-gallery-con {
      width: 100%;
    }
  
    #banner-gallery {
      overflow: hidden;
      position: relative;
    }
  
    #gallery-images {
      display: flex;
      transition: transform 0.5s ease-in-out;
      width: 100%;
      list-style: none;
      padding: 0;
      margin: 0;
    }
  
    #gallery-images li {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 100%;
    }
  
    img {
      max-width: 95%;
      height: auto;
      display: block;
      margin: 0 auto;
      border-radius: 15px;
    }
}

/* Quote */
#quote {
    padding: 40px 0;

    #quote-con {
        font-size: 40px;

        #quote-02 {
            text-align: right;
        }
    }
}

/* Skills */
#skills {
    .skill-wrap {
        .skill-box {
            margin-top: 70px;

            .skill-icon {
                display: flex;
                flex-direction: column; 
                align-items: center;
                margin: 0 auto;

                img {
                    width: 80px;
                    margin-bottom: 20px;
                }

                p {
                    font-size: 24px;
                    font-weight: normal;
                    margin: 0;
                    color: #EDEEF3; 
                    text-align: center;
                }
            }

            .skill-box {
                border: 1px solid #EDEEF3;
                padding: 32px;
                border-radius: 15px;
                text-align: left;
                transition: background-color 0.3s, transform 0.3s;

                p {
                    font-size: 23px;
                    color: #EDEEF3;
                    line-height: 1.5;
                }

                &:hover {
                    background-color: rgba(170, 123, 251, 1);
                    transform: scale(1.05);
                    border-color: rgba(170, 123, 251, 0);
                }
            }
        }
    }
}


/* Projects */
#projects {
    margin: 20px;

    #scrolling-text-container {
        text-align: center;
        margin-bottom: 20px;
    }

    .project {
        display: flex;
        flex-direction: column; 
        margin-bottom: 20px;
        
        img {
            width: 100%;
            height: auto;
            border-radius: 15px;
        }

        .project-details {
            display: flex; 
            align-items: center;
            justify-content: space-between;
            font-family: v.$base-font-regular;
            font-size: 14px;
            margin: 20px; 
        }

        .project-number, .project-title {
            margin-right: 15px;
        }

        .project-year {
            margin-left: auto; 
            text-align: center;
            flex: 1; 
        }

        .project-skill {
            margin-left: 10px; 
        }
    }
}


/* Services */
#services {

    #services-heading {
        margin-left: 0;
        margin-bottom: 15px;
    }

    .line-break {
        border: none;
        border-bottom: 2px solid #EDEEF3;
        width: 100%; 
        margin: 20px 0;  
    }

    .grid-con {
        display: block;
    }

    .service {
        margin-top: 5px;
    }

    .service-header {
        display: flex;
        align-items: center; 
    }

    .service-number, .service-title {
        margin-top: 15px;
        font-size: 25px;
    }

    .service-title {
        margin-left: 30px;
    }

    .service-description {
        margin-top: 10px;
        font-weight: 300;
        font-size: 15px;
    }

    #contact-link {
        margin-top: 30px;
        margin-bottom: 5px;
        text-decoration: underline;
        font-weight: 200;

        a {
            color: #EDEEF3;

            &:hover {
                color: #CDFC7C;
            }

            &:visited {
                color: #AA7BFB;
            }

            &:active {
                color: #CDFC7C;
            }
        }
    }
}

/* About */
#about {
    padding:20px;

    #about-location {
        margin-top: 10px;
        text-align: right;
        font-weight: 200;
        font-size: 13px;
    }

    #about-icon {
        margin-top: 50px;
        width: 120px;
        height: 120px;
        background-color: rgba(255, 255, 255, 0.1);
        color: white;
        border: none; 
        border-radius: 50%;
        cursor: pointer; 
        display: flex;
        justify-content: center; 
        align-items: center; 
        margin: auto; 
    }

    #about-icon img {
        width: 100%;
        height: auto; 
        border-radius: 50%;
    }

    #about-icon:hover {
        background-color: rgba(238, 54, 109, 0.9);
    }
}

/* Video Player */
.plyr--video {
    width: 90vw;
    margin: 0 auto;
    margin-top: 40px;
    --plyr-color-main: rgba(238, 54, 109, 0.9);
    --plyr-control-icon-size: 15px;
    --plyr-control-radius: 20px;
    --plyr-control-spacing: 15px;
 }





  
@media (min-width: 412px) {

    //Quote
    #animation-logo2 {
        display: none;
    }

    //About
    #about {
        #about-quote-con {
            p {
                font-size: 50px;
                line-height: 60px;
            }
        }
    }
}


@media (min-width: 768px) {

    //Header
    #logo-mb {
      width: 100px;
      display: block; 
    }
  
    #header-text {
      display: block; 
    }

    //Quote
    #animation-logo2 {
        display: block;
    }

    //Services
    .service-header {
        justify-content: space-between;
    }

    .service-title {
        margin-left: 0;
        margin-right: 30px;
        text-align: right;
    }

    .service-description {
        margin-left: 0; 
        margin-right: 30px;
        text-align: right;
    }

    .service-box {
        margin-bottom: 40px;
    }

    #contact-link {
        text-align: right;
        margin-right: 30px;

        a {
            display: inline-block;
        }
    }

    //About
    #about {
        #about-quote-con {
            p {
                font-size: 80px;
                line-height: 80px;
            }
        }
    }
}


@media (min-width: 1200px) {

    //Header
    #logo-mb {
        display: none; 
      }
    
      #logo-dt {
        padding-top: 20px;
        width: 200px;
        display: block; 
      }

    //Quote
    #animation-logo2 {
        display: block;
    }
}